In [261]:
import pandas as pd

In [264]:
games = pd.read_csv("team_updated_recent.csv", index_col=0)

In [265]:
games.shape

(2438, 48)

In [266]:
games.tail()

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code,Target,Form
2433,2409,MIL,ORL,Away,2024-04-14,0,240,88,30,75,...,94.5,35.5,"(0, 1)","(49, 33)",412.36,0,21,6,2.0,-17.12
2434,2408,MIA,TOR,Home,2024-04-14,0,240,118,46,87,...,100.0,63.1,"(1, 0)","(45, 36)",444.32,1,27,6,2.0,6.19
2435,2436,IND,ATL,Home,2024-04-14,0,240,157,65,100,...,107.0,64.9,"(1, 0)","(46, 35)",475.67,1,0,6,2.0,11.12
2436,2421,UTA,GSW,Away,2024-04-14,0,240,116,46,89,...,100.0,42.9,"(0, 1)","(31, 50)",266.36,0,9,6,2.0,-6.83
2437,2437,WAS,BOS,Away,2024-04-14,0,240,122,49,103,...,105.5,44.2,"(0, 1)","(15, 67)",155.63,0,2,6,2.0,-2.38

In [267]:
games.columns

Index(['Unnamed: 0', 'Team', 'Opp', 'Home/Away', 'Date', 'W/L', 'MIN', 'PTS',
       'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB',
       'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', '+/-', 'OffRtg',
       'DefRtg', 'NetRtg', 'AST%', 'AST/TO', 'AST Ratio', 'OREB%', 'DREB%',
       'REB%', 'TOV%', 'eFG%', 'TS%', 'PACE', 'PIE', 'NumWL', 'Record', 'ELO',
       'Home/Away_code', 'Opp_Code', 'Day_Code', 'Target', 'Form'],
      dtype='object')

In [ ]:
games[games["Team"] == "DAL"]

In [232]:
games.dtypes

Opp           object
Home/Away     object
Date          object
W/L           object
MIN            int64
PTS            int64
FGM            int64
FGA            int64
FG%          float64
3PM            int64
3PA            int64
3P%          float64
FTM            int64
FTA            int64
FT%          float64
OREB           int64
DREB           int64
REB            int64
AST            int64
STL            int64
BLK            int64
TOV            int64
PF             int64
+/-            int64
OffRtg       float64
DefRtg       float64
NetRtg       float64
AST%         float64
AST/TO       float64
AST Ratio    float64
OREB%        float64
DREB%        float64
REB%         float64
TOV%         float64
eFG%         float64
TS%          float64
PACE         float64
PIE          float64
NumWL         object
Record        object
ELO          float64
dtype: object

In [233]:
games["Home/Away_code"] = games["Home/Away"].astype("category").cat.codes

In [234]:
games

,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,REB%,TOV%,eFG%,TS%,PACE,PIE,NumWL,Record,ELO,Home/Away_code
Team,,,,,,,,,,,,,,,,,,,,,
ATL,CHA,Away,10/25/23,L,240,110,39,93,41.9,5,...,45.2,11.5,44.6,51.2,104.0,45.1,"(0, 1)","(0, 1)",384.00,0
NOP,MEM,Away,10/25/23,W,240,111,40,85,47.1,14,...,54.9,20.4,55.3,58.6,103.5,54.3,"(1, 0)","(1, 0)",416.00,0
MEM,NOP,Home,10/25/23,L,240,104,38,91,41.8,12,...,45.1,12.5,48.4,52.1,103.5,45.7,"(0, 1)","(0, 1)",384.00,1
CHA,ATL,Home,10/25/23,W,240,116,43,86,50.0,11,...,54.8,18.3,56.4,59.5,104.0,54.9,"(1, 0)","(1, 0)",416.00,1
BOS,NYK,Away,10/25/23,W,240,108,37,77,48.1,12,...,45.8,13.5,55.8,61.1,96.5,59.2,"(1, 0)","(1, 0)",416.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
POR,SAC,Away,4/14/24,L,240,82,31,98,31.6,7,...,52.2,18.2,35.2,38.9,99.0,26.9,"(0, 1)","(21, 60)",199.93,0
SAC,POR,Home,4/14/24,W,240,121,43,87,49.4,13,...,47.8,14.1,56.9,61.2,99.0,73.1,"(1, 0)","(46, 36)",422.74,1
SAS,DET,Home,4/14/24,W,240,123,49,91,53.8,15,...,52.9,14.0,62.1,63.3,100.5,65.9,"(1, 0)","(22, 59)",319.41,1
LAL,NOP,Away,4/14/24,W,240,124,48,87,55.2,11,...,52.3,14.9,61.5,65.3,101.5,59.7,"(1, 0)","(47, 34)",512.48,0
WAS,BOS,Away,4/14/24,L,240,122,49,103,47.6,14,...,45.8,11.4,54.4,56.8,105.5,44.2,"(0, 1)","(15, 67)",155.63,0

In [235]:
games["Opp_Code"] = games["Opp"].astype("category").cat.codes

In [236]:
games

,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,TOV%,eFG%,TS%,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code
Team,,,,,,,,,,,,,,,,,,,,,
ATL,CHA,Away,10/25/23,L,240,110,39,93,41.9,5,...,11.5,44.6,51.2,104.0,45.1,"(0, 1)","(0, 1)",384.00,0,3
NOP,MEM,Away,10/25/23,W,240,111,40,85,47.1,14,...,20.4,55.3,58.6,103.5,54.3,"(1, 0)","(1, 0)",416.00,0,14
MEM,NOP,Home,10/25/23,L,240,104,38,91,41.8,12,...,12.5,48.4,52.1,103.5,45.7,"(0, 1)","(0, 1)",384.00,1,18
CHA,ATL,Home,10/25/23,W,240,116,43,86,50.0,11,...,18.3,56.4,59.5,104.0,54.9,"(1, 0)","(1, 0)",416.00,1,0
BOS,NYK,Away,10/25/23,W,240,108,37,77,48.1,12,...,13.5,55.8,61.1,96.5,59.2,"(1, 0)","(1, 0)",416.00,0,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
POR,SAC,Away,4/14/24,L,240,82,31,98,31.6,7,...,18.2,35.2,38.9,99.0,26.9,"(0, 1)","(21, 60)",199.93,0,25
SAC,POR,Home,4/14/24,W,240,121,43,87,49.4,13,...,14.1,56.9,61.2,99.0,73.1,"(1, 0)","(46, 36)",422.74,1,24
SAS,DET,Home,4/14/24,W,240,123,49,91,53.8,15,...,14.0,62.1,63.3,100.5,65.9,"(1, 0)","(22, 59)",319.41,1,8
LAL,NOP,Away,4/14/24,W,240,124,48,87,55.2,11,...,14.9,61.5,65.3,101.5,59.7,"(1, 0)","(47, 34)",512.48,0,18
WAS,BOS,Away,4/14/24,L,240,122,49,103,47.6,14,...,11.4,54.4,56.8,105.5,44.2,"(0, 1)","(15, 67)",155.63,0,2

In [237]:
games["Date"] = pd.to_datetime(games["Date"], infer_datetime_format=True)

/tmp/ipykernel_405/177423079.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  games["Date"] = pd.to_datetime(games["Date"], infer_datetime_format=True)
/tmp/ipykernel_405/177423079.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  games["Date"] = pd.to_datetime(games["Date"], infer_datetime_format=True)

In [238]:
games.dtypes

Opp                       object
Home/Away                 object
Date              datetime64[ns]
W/L                       object
MIN                        int64
PTS                        int64
FGM                        int64
FGA                        int64
FG%                      float64
3PM                        int64
3PA                        int64
3P%                      float64
FTM                        int64
FTA                        int64
FT%                      float64
OREB                       int64
DREB                       int64
REB                        int64
AST                        int64
STL                        int64
BLK                        int64
TOV                        int64
PF                         int64
+/-                        int64
OffRtg                   float64
DefRtg                   float64
NetRtg                   float64
AST%                     float64
AST/TO                   float64
AST Ratio                float64
OREB%                    float64
DREB%                    float64
REB%                     float64
TOV%                     float64
eFG%                     float64
TS%                      float64
PACE                     float64
PIE                      float64
NumWL                     object
Record                    object
ELO                      float64
Home/Away_code              int8
Opp_Code                    int8
dtype: object

In [239]:
games["Day_Code"] = games["Date"].dt.dayofweek #Monday is 0, Sunday is 6

In [240]:
games

,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,eFG%,TS%,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code
Team,,,,,,,,,,,,,,,,,,,,,
ATL,CHA,Away,2023-10-25,L,240,110,39,93,41.9,5,...,44.6,51.2,104.0,45.1,"(0, 1)","(0, 1)",384.00,0,3,2
NOP,MEM,Away,2023-10-25,W,240,111,40,85,47.1,14,...,55.3,58.6,103.5,54.3,"(1, 0)","(1, 0)",416.00,0,14,2
MEM,NOP,Home,2023-10-25,L,240,104,38,91,41.8,12,...,48.4,52.1,103.5,45.7,"(0, 1)","(0, 1)",384.00,1,18,2
CHA,ATL,Home,2023-10-25,W,240,116,43,86,50.0,11,...,56.4,59.5,104.0,54.9,"(1, 0)","(1, 0)",416.00,1,0,2
BOS,NYK,Away,2023-10-25,W,240,108,37,77,48.1,12,...,55.8,61.1,96.5,59.2,"(1, 0)","(1, 0)",416.00,0,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
POR,SAC,Away,2024-04-14,L,240,82,31,98,31.6,7,...,35.2,38.9,99.0,26.9,"(0, 1)","(21, 60)",199.93,0,25,6
SAC,POR,Home,2024-04-14,W,240,121,43,87,49.4,13,...,56.9,61.2,99.0,73.1,"(1, 0)","(46, 36)",422.74,1,24,6
SAS,DET,Home,2024-04-14,W,240,123,49,91,53.8,15,...,62.1,63.3,100.5,65.9,"(1, 0)","(22, 59)",319.41,1,8,6
LAL,NOP,Away,2024-04-14,W,240,124,48,87,55.2,11,...,61.5,65.3,101.5,59.7,"(1, 0)","(47, 34)",512.48,0,18,6
WAS,BOS,Away,2024-04-14,L,240,122,49,103,47.6,14,...,54.4,56.8,105.5,44.2,"(0, 1)","(15, 67)",155.63,0,2,6

In [241]:
games.head()

,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,eFG%,TS%,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code
Team,,,,,,,,,,,,,,,,,,,,,
ATL,CHA,Away,2023-10-25,L,240,110,39,93,41.9,5,...,44.6,51.2,104.0,45.1,"(0, 1)","(0, 1)",384.0,0,3,2
NOP,MEM,Away,2023-10-25,W,240,111,40,85,47.1,14,...,55.3,58.6,103.5,54.3,"(1, 0)","(1, 0)",416.0,0,14,2
MEM,NOP,Home,2023-10-25,L,240,104,38,91,41.8,12,...,48.4,52.1,103.5,45.7,"(0, 1)","(0, 1)",384.0,1,18,2
CHA,ATL,Home,2023-10-25,W,240,116,43,86,50.0,11,...,56.4,59.5,104.0,54.9,"(1, 0)","(1, 0)",416.0,1,0,2
BOS,NYK,Away,2023-10-25,W,240,108,37,77,48.1,12,...,55.8,61.1,96.5,59.2,"(1, 0)","(1, 0)",416.0,0,19,2

In [242]:
games["target"] = (games["W/L"] == "W").astype("int")

In [243]:
games

,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,FG%,3PM,...,TS%,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code,target
Team,,,,,,,,,,,,,,,,,,,,,
ATL,CHA,Away,2023-10-25,L,240,110,39,93,41.9,5,...,51.2,104.0,45.1,"(0, 1)","(0, 1)",384.00,0,3,2,0
NOP,MEM,Away,2023-10-25,W,240,111,40,85,47.1,14,...,58.6,103.5,54.3,"(1, 0)","(1, 0)",416.00,0,14,2,1
MEM,NOP,Home,2023-10-25,L,240,104,38,91,41.8,12,...,52.1,103.5,45.7,"(0, 1)","(0, 1)",384.00,1,18,2,0
CHA,ATL,Home,2023-10-25,W,240,116,43,86,50.0,11,...,59.5,104.0,54.9,"(1, 0)","(1, 0)",416.00,1,0,2,1
BOS,NYK,Away,2023-10-25,W,240,108,37,77,48.1,12,...,61.1,96.5,59.2,"(1, 0)","(1, 0)",416.00,0,19,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
POR,SAC,Away,2024-04-14,L,240,82,31,98,31.6,7,...,38.9,99.0,26.9,"(0, 1)","(21, 60)",199.93,0,25,6,0
SAC,POR,Home,2024-04-14,W,240,121,43,87,49.4,13,...,61.2,99.0,73.1,"(1, 0)","(46, 36)",422.74,1,24,6,1
SAS,DET,Home,2024-04-14,W,240,123,49,91,53.8,15,...,63.3,100.5,65.9,"(1, 0)","(22, 59)",319.41,1,8,6,1
LAL,NOP,Away,2024-04-14,W,240,124,48,87,55.2,11,...,65.3,101.5,59.7,"(1, 0)","(47, 34)",512.48,0,18,6,1
WAS,BOS,Away,2024-04-14,L,240,122,49,103,47.6,14,...,56.8,105.5,44.2,"(0, 1)","(15, 67)",155.63,0,2,6,0

In [269]:
games["Target"] = games["Target"].astype(int)

In [189]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd

In [190]:
games = pd.read_csv("team_updated_recent.csv", index_col=0)

In [191]:
games["Date"] = pd.to_datetime(games["Date"], infer_datetime_format=True)

/tmp/ipykernel_137/177423079.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  games["Date"] = pd.to_datetime(games["Date"], infer_datetime_format=True)

In [192]:
mask = games['Target'] == 2
games = games[~mask]

In [193]:
games.dtypes

Unnamed: 0                 int64
Team                      object
Opp                       object
Home/Away                 object
Date              datetime64[ns]
W/L                        int64
MIN                        int64
PTS                        int64
FGM                        int64
FGA                        int64
FG%                      float64
3PM                        int64
3PA                        int64
3P%                      float64
FTM                        int64
FTA                        int64
FT%                      float64
OREB                       int64
DREB                       int64
REB                        int64
AST                        int64
STL                        int64
BLK                        int64
TOV                        int64
PF                         int64
+/-                        int64
OffRtg                   float64
DefRtg                   float64
NetRtg                   float64
AST%                     float64
AST/TO                   float64
AST Ratio                float64
OREB%                    float64
DREB%                    float64
REB%                     float64
TOV%                     float64
eFG%                     float64
TS%                      float64
PACE                     float64
PIE                      float64
NumWL                     object
Record                    object
ELO                      float64
Home/Away_code             int64
Opp_Code                   int64
Day_Code                   int64
Target                   float64
Form                     float64
dtype: object

In [194]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [195]:
train = games[games["Date"] < '2024-02-01']

In [196]:
train

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code,Target,Form
0,0,ATL,CHA,Away,2023-10-25,0,240,110,39,93,...,104.0,45.1,"(0, 1)","(0, 1)",384.00,0,3,2,0.0,0.00
1,1,NOP,MEM,Away,2023-10-25,0,240,111,40,85,...,103.5,54.3,"(1, 0)","(1, 0)",416.00,0,14,2,1.0,0.00
2,2,MEM,NOP,Home,2023-10-25,0,240,104,38,91,...,103.5,45.7,"(0, 1)","(0, 1)",384.00,1,18,2,0.0,0.00
3,3,CHA,ATL,Home,2023-10-25,0,240,116,43,86,...,104.0,54.9,"(1, 0)","(1, 0)",416.00,1,0,2,0.0,0.00
4,4,BOS,NYK,Away,2023-10-25,0,240,108,37,77,...,96.5,59.2,"(1, 0)","(1, 0)",416.00,0,19,2,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1395,1383,POR,MIL,Home,2024-01-31,0,240,119,49,92,...,98.0,52.4,"(1, 0)","(15, 32)",303.36,1,16,2,0.0,25.15
1396,1382,CLE,DET,Home,2024-01-31,0,240,128,47,89,...,98.5,53.6,"(1, 0)","(28, 16)",539.80,1,8,2,1.0,3.41
1397,1381,DAL,MIN,Away,2024-01-31,0,240,87,31,76,...,94.5,27.1,"(0, 1)","(26, 22)",403.35,0,17,2,0.0,-12.05
1398,1380,HOU,NOP,Home,2024-01-31,0,240,99,35,87,...,96.0,43.7,"(0, 1)","(22, 24)",349.39,1,18,2,1.0,-12.62
1399,1389,DET,CLE,Away,2024-01-31,0,240,121,45,81,...,98.5,46.4,"(0, 1)","(6, 41)",163.72,0,5,2,0.0,-3.41

In [197]:
test = games[games["Date"] > '2024-02-01']

In [198]:
test

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code,Target,Form
1408,1421,NOP,SAS,Away,2024-02-02,0,240,114,46,95,...,98.5,49.1,"(1, 0)","(28, 21)",455.47,0,26,4,1.0,6.29
1409,1422,POR,DEN,Away,2024-02-02,0,240,108,37,80,...,91.5,41.5,"(0, 1)","(15, 33)",296.40,0,7,4,0.0,-6.96
1410,1423,ATL,PHX,Home,2024-02-02,0,240,129,49,95,...,101.5,52.9,"(1, 0)","(21, 27)",368.48,1,23,4,1.0,21.70
1411,1413,SAS,NOP,Home,2024-02-02,0,240,113,46,96,...,98.5,50.9,"(0, 1)","(10, 38)",198.44,1,18,4,0.0,-6.29
1412,1425,HOU,TOR,Home,2024-02-02,0,240,135,55,93,...,106.0,64.0,"(1, 0)","(23, 24)",362.86,1,27,4,0.0,13.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2403,2387,DET,DAL,Away,2024-04-12,0,240,107,46,95,...,100.0,58.1,"(1, 0)","(14, 67)",179.94,0,6,4,0.0,29.48
2404,2388,ATL,MIN,Away,2024-04-12,0,240,106,40,90,...,102.0,39.4,"(0, 1)","(36, 45)",355.13,0,17,4,0.0,-9.04
2405,2389,SAS,DEN,Home,2024-04-12,0,240,121,45,85,...,99.5,51.4,"(1, 0)","(21, 59)",309.10,1,7,4,1.0,27.00
2406,2390,LAL,MEM,Away,2024-04-12,0,240,123,42,81,...,102.0,54.3,"(1, 0)","(46, 34)",496.22,0,14,4,1.0,6.67
2407,2384,CHI,WAS,Away,2024-04-12,0,240,129,48,98,...,106.0,50.0,"(1, 0)","(39, 41)",396.18,0,29,4,0.0,6.90

In [199]:
predictors = ["Home/Away_code", "Opp_Code", "Day_Code", "ELO"]

In [200]:
rf.fit(train[predictors], train["Target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [201]:
preds = rf.predict(test[predictors])

In [202]:
from sklearn.metrics import accuracy_score

In [203]:
acc = accuracy_score(test["Target"], preds)

In [204]:
acc

0.579

In [205]:
combined = pd.DataFrame(dict(actual=test["Target"], prediction = preds))

In [206]:
combined

      actual  prediction
1408     1.0         0.0
1409     0.0         0.0
1410     1.0         0.0
1411     0.0         0.0
1412     0.0         0.0
...      ...         ...
2403     0.0         0.0
2404     0.0         0.0
2405     1.0         0.0
2406     1.0         1.0
2407     0.0         0.0

[1000 rows x 2 columns]

In [207]:
pd.crosstab(index=combined["actual"], columns = combined["prediction"])

prediction  0.0  1.0
actual
0.0         293  208
1.0         213  286

In [208]:
from sklearn.metrics import precision_score

In [209]:
precision_score(test["Target"], preds)

0.5789473684210527

In [210]:
grouped_games = games.groupby("Team")

In [211]:
group = grouped_games.get_group("DAL")

In [212]:
group

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,PACE,PIE,NumWL,Record,ELO,Home/Away_code,Opp_Code,Day_Code,Target,Form
31,10,DAL,BKN,Home,2023-10-27,0,240,125,44,91,...,101.50,50.7,"(1, 0)","(2, 0)",416.00,1,1,4,1.0,0.00
59,79,DAL,MEM,Away,2023-10-30,0,240,125,42,84,...,102.50,57.4,"(1, 0)","(3, 0)",429.18,0,14,0,1.0,13.18
92,105,DAL,CHI,Home,2023-11-01,0,240,114,37,81,...,95.00,54.4,"(1, 0)","(4, 0)",444.61,1,4,2,0.0,15.43
132,120,DAL,DEN,Away,2023-11-03,0,240,114,41,86,...,98.00,44.9,"(0, 1)","(4, 1)",427.83,0,7,4,1.0,-16.78
151,158,DAL,CHA,Home,2023-11-05,0,240,124,43,91,...,103.50,54.3,"(1, 0)","(5, 1)",441.80,1,3,6,1.0,13.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2286,DAL,GSW,Home,2024-04-05,0,240,108,40,84,...,102.50,52.6,"(1, 0)","(47, 30)",553.83,1,9,4,1.0,14.38
2309,2311,DAL,HOU,Home,2024-04-07,0,265,147,46,85,...,101.89,54.3,"(1, 0)","(48, 30)",563.78,1,10,6,1.0,9.95
2348,2333,DAL,CHA,Away,2024-04-09,0,240,130,50,93,...,100.50,60.6,"(1, 0)","(49, 30)",567.29,0,3,1,1.0,3.51
2355,2364,DAL,MIA,Away,2024-04-10,0,240,111,43,87,...,91.00,61.0,"(1, 0)","(50, 30)",577.76,0,15,2,0.0,10.47
2390,2401,DAL,DET,Home,2024-04-12,0,240,89,36,83,...,100.00,41.9,"(0, 1)","(50, 31)",548.28,1,8,4,0.0,-29.48

In [213]:
def rolling_averages(team, cols, col_new):
    team = team.sort_values("Date")
    rolling_stats = team[cols].rolling(3, closed = "left").mean()
    team[col_new] = rolling_stats
    team = team.dropna(subset=col_new)
    return team

In [214]:
cols = ["PTS", "3PM", "3P%", "REB", "AST%", "OREB%", "DREB%", "PACE", "ELO"]
new_cols = [f"{c}_rolling" for c in cols]

In [215]:
new_cols

['PTS_rolling',
 '3PM_rolling',
 '3P%_rolling',
 'REB_rolling',
 'AST%_rolling',
 'OREB%_rolling',
 'DREB%_rolling',
 'PACE_rolling',
 'ELO_rolling']

In [216]:
rolling_averages(group, cols, new_cols)

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,Form,PTS_rolling,3PM_rolling,3P%_rolling,REB_rolling,AST%_rolling,OREB%_rolling,DREB%_rolling,PACE_rolling,ELO_rolling
132,120,DAL,DEN,Away,2023-11-03,0,240,114,41,86,...,-16.78,121.333333,19.333333,44.100000,44.333333,54.933333,25.633333,73.900000,99.666667,429.930000
151,158,DAL,CHA,Home,2023-11-05,0,240,124,43,91,...,13.97,117.666667,20.000000,43.700000,42.333333,61.733333,25.766667,67.166667,98.500000,433.873333
168,175,DAL,ORL,Away,2023-11-06,0,240,117,41,82,...,14.88,117.333333,17.000000,38.500000,42.000000,66.733333,28.033333,64.000000,98.833333,438.080000
207,192,DAL,TOR,Home,2023-11-08,0,240,116,40,84,...,-19.64,118.333333,15.333333,37.100000,37.333333,63.066667,23.466667,62.633333,100.166667,442.103333
229,219,DAL,LAC,Home,2023-11-10,0,240,144,51,98,...,12.88,119.000000,15.333333,37.433333,38.666667,61.933333,22.800000,67.100000,102.500000,445.173333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2272,2286,DAL,GSW,Home,2024-04-05,0,240,108,40,84,...,14.38,111.333333,19.000000,41.766667,47.333333,57.266667,23.000000,75.400000,100.833333,538.363333
2309,2311,DAL,HOU,Home,2024-04-07,0,265,147,46,85,...,9.95,105.666667,15.000000,36.500000,45.333333,65.600000,19.966667,75.566667,102.500000,540.453333
2348,2333,DAL,CHA,Away,2024-04-09,0,240,130,50,93,...,3.51,121.333333,15.000000,36.833333,47.000000,57.766667,22.233333,75.966667,102.796667,552.353333
2355,2364,DAL,MIA,Away,2024-04-10,0,240,111,43,87,...,10.47,128.333333,14.666667,35.933333,47.666667,63.566667,27.133333,76.833333,101.630000,561.633333
2390,2401,DAL,DET,Home,2024-04-12,0,240,89,36,83,...,-29.48,129.333333,15.666667,35.533333,47.000000,59.500000,26.966667,75.433333,97.796667,569.610000

In [217]:
group.dtypes

Unnamed: 0                 int64
Team                      object
Opp                       object
Home/Away                 object
Date              datetime64[ns]
W/L                        int64
MIN                        int64
PTS                        int64
FGM                        int64
FGA                        int64
FG%                      float64
3PM                        int64
3PA                        int64
3P%                      float64
FTM                        int64
FTA                        int64
FT%                      float64
OREB                       int64
DREB                       int64
REB                        int64
AST                        int64
STL                        int64
BLK                        int64
TOV                        int64
PF                         int64
+/-                        int64
OffRtg                   float64
DefRtg                   float64
NetRtg                   float64
AST%                     float64
AST/TO                   float64
AST Ratio                float64
OREB%                    float64
DREB%                    float64
REB%                     float64
TOV%                     float64
eFG%                     float64
TS%                      float64
PACE                     float64
PIE                      float64
NumWL                     object
Record                    object
ELO                      float64
Home/Away_code             int64
Opp_Code                   int64
Day_Code                   int64
Target                   float64
Form                     float64
dtype: object

In [218]:
games_rolling = games.groupby("Team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [219]:
games_rolling

           Unnamed: 0 Team  Opp Home/Away       Date  W/L  MIN  PTS  FGM  FGA  \
Team
ATL  68            70  ATL  MIN      Home 2023-10-30    0  240  127   48   86
     99            97  ATL  WAS      Home 2023-11-01    0  240  130   46   92
     143          139  ATL  NOP      Away 2023-11-04    0  240  123   45   93
     183          165  ATL  OKC      Away 2023-11-06    0  240  117   38  102
     212          212  ATL  ORL      Away 2023-11-09    0  240  120   41   85
...               ...  ...  ...       ...        ...  ...  ...  ...  ...  ...
WAS  2246        2253  WAS  LAL      Home 2024-04-03    0  240  120   45   91
     2275        2279  WAS  POR      Home 2024-04-05    0  240  102   38   88
     2304        2317  WAS  TOR      Away 2024-04-07    0  240  122   42   89
     2324        2340  WAS  MIN      Away 2024-04-09    0  240  121   44   89
     2379        2396  WAS  CHI      Home 2024-04-12    0  240  127   45   86

           ...   Form  PTS_rolling  3PM_rolling  3P%_rolling  REB_rolling  \
Team       ...
ATL  68    ...  17.34   119.000000    10.666667    31.733333    44.000000
     99    ...  15.81   124.666667    13.666667    41.566667    42.000000
     143   ...  17.22   128.000000    12.666667    38.433333    46.333333
     183   ... -18.22   126.666667    12.333333    36.300000    48.333333
     212   ...  15.27   123.333333    12.333333    31.833333    56.000000
...        ...    ...          ...          ...          ...          ...
WAS  2246  ...  -4.78   103.666667     9.666667    26.633333    44.333333
     2275  ... -15.27   114.666667    12.666667    31.833333    41.666667
     2304  ... -15.31   113.000000    10.666667    27.266667    42.666667
     2324  ...  -3.41   114.666667    13.000000    32.700000    42.333333
     2379  ...  -6.90   115.000000    13.666667    33.900000    43.000000

           AST%_rolling  OREB%_rolling  DREB%_rolling  PACE_rolling  \
Team
ATL  68       65.433333      30.900000      69.133333    104.666667
     99       64.366667      27.833333      69.600000    102.666667
     143      60.966667      31.400000      73.633333    103.833333
     183      59.000000      33.233333      75.700000    101.333333
     212      63.266667      40.533333      78.100000    104.166667
...                 ...            ...            ...           ...
WAS  2246     61.300000      22.200000      77.066667    102.833333
     2275     60.200000      19.466667      74.966667    105.333333
     2304     58.766667      19.133333      67.300000    103.333333
     2324     63.333333      19.333333      69.366667    105.166667
     2379     63.766667      22.166667      68.600000    102.333333

           ELO_rolling
Team
ATL  68     379.400000
     99     385.913333
     143    403.030000
     183    419.820000
     212    424.756667
...                ...
WAS  2246   187.456667
     2275   192.900000
     2304   195.403333
     2324   183.616667
     2379   172.286667

[2318 rows x 57 columns]

In [220]:
games_rolling = games_rolling.droplevel("Team")

In [221]:
games_rolling

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,Form,PTS_rolling,3PM_rolling,3P%_rolling,REB_rolling,AST%_rolling,OREB%_rolling,DREB%_rolling,PACE_rolling,ELO_rolling
68,70,ATL,MIN,Home,2023-10-30,0,240,127,48,86,...,17.34,119.000000,10.666667,31.733333,44.000000,65.433333,30.900000,69.133333,104.666667,379.400000
99,97,ATL,WAS,Home,2023-11-01,0,240,130,46,92,...,15.81,124.666667,13.666667,41.566667,42.000000,64.366667,27.833333,69.600000,102.666667,385.913333
143,139,ATL,NOP,Away,2023-11-04,0,240,123,45,93,...,17.22,128.000000,12.666667,38.433333,46.333333,60.966667,31.400000,73.633333,103.833333,403.030000
183,165,ATL,OKC,Away,2023-11-06,0,240,117,38,102,...,-18.22,126.666667,12.333333,36.300000,48.333333,59.000000,33.233333,75.700000,101.333333,419.820000
212,212,ATL,ORL,Away,2023-11-09,0,240,120,41,85,...,15.27,123.333333,12.333333,31.833333,56.000000,63.266667,40.533333,78.100000,104.166667,424.756667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2246,2253,WAS,LAL,Home,2024-04-03,0,240,120,45,91,...,-4.78,103.666667,9.666667,26.633333,44.333333,61.300000,22.200000,77.066667,102.833333,187.456667
2275,2279,WAS,POR,Home,2024-04-05,0,240,102,38,88,...,-15.27,114.666667,12.666667,31.833333,41.666667,60.200000,19.466667,74.966667,105.333333,192.900000
2304,2317,WAS,TOR,Away,2024-04-07,0,240,122,42,89,...,-15.31,113.000000,10.666667,27.266667,42.666667,58.766667,19.133333,67.300000,103.333333,195.403333
2324,2340,WAS,MIN,Away,2024-04-09,0,240,121,44,89,...,-3.41,114.666667,13.000000,32.700000,42.333333,63.333333,19.333333,69.366667,105.166667,183.616667
2379,2396,WAS,CHI,Home,2024-04-12,0,240,127,45,86,...,-6.90,115.000000,13.666667,33.900000,43.000000,63.766667,22.166667,68.600000,102.333333,172.286667

In [222]:
games_rolling.index = range(games_rolling.shape[0])

In [223]:
games_rolling

,Unnamed: 0,Team,Opp,Home/Away,Date,W/L,MIN,PTS,FGM,FGA,...,Form,PTS_rolling,3PM_rolling,3P%_rolling,REB_rolling,AST%_rolling,OREB%_rolling,DREB%_rolling,PACE_rolling,ELO_rolling
0,70,ATL,MIN,Home,2023-10-30,0,240,127,48,86,...,17.34,119.000000,10.666667,31.733333,44.000000,65.433333,30.900000,69.133333,104.666667,379.400000
1,97,ATL,WAS,Home,2023-11-01,0,240,130,46,92,...,15.81,124.666667,13.666667,41.566667,42.000000,64.366667,27.833333,69.600000,102.666667,385.913333
2,139,ATL,NOP,Away,2023-11-04,0,240,123,45,93,...,17.22,128.000000,12.666667,38.433333,46.333333,60.966667,31.400000,73.633333,103.833333,403.030000
3,165,ATL,OKC,Away,2023-11-06,0,240,117,38,102,...,-18.22,126.666667,12.333333,36.300000,48.333333,59.000000,33.233333,75.700000,101.333333,419.820000
4,212,ATL,ORL,Away,2023-11-09,0,240,120,41,85,...,15.27,123.333333,12.333333,31.833333,56.000000,63.266667,40.533333,78.100000,104.166667,424.756667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,2253,WAS,LAL,Home,2024-04-03,0,240,120,45,91,...,-4.78,103.666667,9.666667,26.633333,44.333333,61.300000,22.200000,77.066667,102.833333,187.456667
2314,2279,WAS,POR,Home,2024-04-05,0,240,102,38,88,...,-15.27,114.666667,12.666667,31.833333,41.666667,60.200000,19.466667,74.966667,105.333333,192.900000
2315,2317,WAS,TOR,Away,2024-04-07,0,240,122,42,89,...,-15.31,113.000000,10.666667,27.266667,42.666667,58.766667,19.133333,67.300000,103.333333,195.403333
2316,2340,WAS,MIN,Away,2024-04-09,0,240,121,44,89,...,-3.41,114.666667,13.000000,32.700000,42.333333,63.333333,19.333333,69.366667,105.166667,183.616667
2317,2396,WAS,CHI,Home,2024-04-12,0,240,127,45,86,...,-6.90,115.000000,13.666667,33.900000,43.000000,63.766667,22.166667,68.600000,102.333333,172.286667

In [224]:
def predictions(values, predictors):
    train = values[values["Date"] < '2024-02-01']
    test = values[values["Date"] > '2024-02-01']
    rf.fit(train[predictors], train["Target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["Target"], predicted=preds), index=test.index)
    precision = precision_score(test["Target"],preds)
    return combined, precision

In [225]:
combined, precision = predictions(games_rolling, predictors + new_cols)

In [226]:
precision

0.59375

In [227]:
combined

      actual  predicted
44       1.0        1.0
45       0.0        1.0
46       0.0        0.0
47       1.0        1.0
48       1.0        0.0
...      ...        ...
2313     0.0        0.0
2314     0.0        0.0
2315     0.0        0.0
2316     0.0        0.0
2317     0.0        0.0

[1000 rows x 2 columns]

In [231]:
combined = combined.merge(games_rolling[["Date", "Team", "Opp", "W/L"]], left_index=True, right_index=True)

In [232]:
combined

      actual  predicted       Date Team  Opp  W/L
44       1.0        1.0 2024-02-02  ATL  PHX    0
45       0.0        1.0 2024-02-03  ATL  GSW    0
46       0.0        0.0 2024-02-05  ATL  LAC    0
47       1.0        1.0 2024-02-07  ATL  BOS    0
48       1.0        0.0 2024-02-09  ATL  PHI    0
...      ...        ...        ...  ...  ...  ...
2313     0.0        0.0 2024-04-03  WAS  LAL    0
2314     0.0        0.0 2024-04-05  WAS  POR    0
2315     0.0        0.0 2024-04-07  WAS  TOR    0
2316     0.0        0.0 2024-04-09  WAS  MIN    0
2317     0.0        0.0 2024-04-12  WAS  CHI    0

[1000 rows x 6 columns]

In [233]:
combined

      actual  predicted       Date Team  Opp  W/L
44       1.0        1.0 2024-02-02  ATL  PHX    0
45       0.0        1.0 2024-02-03  ATL  GSW    0
46       0.0        0.0 2024-02-05  ATL  LAC    0
47       1.0        1.0 2024-02-07  ATL  BOS    0
48       1.0        0.0 2024-02-09  ATL  PHI    0
...      ...        ...        ...  ...  ...  ...
2313     0.0        0.0 2024-04-03  WAS  LAL    0
2314     0.0        0.0 2024-04-05  WAS  POR    0
2315     0.0        0.0 2024-04-07  WAS  TOR    0
2316     0.0        0.0 2024-04-09  WAS  MIN    0
2317     0.0        0.0 2024-04-12  WAS  CHI    0

[1000 rows x 6 columns]

In [235]:
combined.head()

    actual  predicted       Date Team  Opp  W/L
44     1.0        1.0 2024-02-02  ATL  PHX    0
45     0.0        1.0 2024-02-03  ATL  GSW    0
46     0.0        0.0 2024-02-05  ATL  LAC    0
47     1.0        1.0 2024-02-07  ATL  BOS    0
48     1.0        0.0 2024-02-09  ATL  PHI    0

In [236]:
acc

0.579